<h1>Navisens_mini project</h1>


<form action ="/api/navisensFusing" method = "GET">
  <label for="Longitude">Longitude</label>
  <input name="lon" />
  <br/>
  <label for="Latitude">Latitude</label>
  <input name="lat" />
  <br/>
  <label for="Size">Size</label>
  <input name="size" />
  <br/>
  <input type="submit"/>
</form>